.background{
    background-color: lightblue;

}

.title{
    font-size: 70px;
    font-weight:500px;
    color: black;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    
}
.largeTitle{
    font-size: 30px;
    font-weight: 300px;
    color: darkgreen;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    position: static;
    
}
.smallTitle{
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 100px;
    text-decoration: underline;
    position: static;
}
.explanation{
    font-size: medium;
    color: black;
    padding: 40px;
    position: static;
}

.column{
    
    /*float:left;*/
    margin-right: 50%;
    /*left:10px;*/
    position: relative;
}
.rightCol{
    position:relative;
    /*float:right;*/
    margin-left:50%;
}